<!DOCTYPE html>
<html lang="en">
<head>
    <title>GameProphet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/" style="color: #5865F2; font-size: 1.3em; font-weight: bold; margin-right: auto;">GameProphet</a>
        <a href="/upcoming">Upcoming matches</a>
        <a href="/finished">Finished matches</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/faq">FAQ</a>
    </nav>

    {% block content %}
    {% endblock %}


<footer>
    GameProphet is a simulation for entertainment purposes only. This is not financial or investment advice. All predictions are made by AI agents and should not be used as a basis for real betting decisions.
</footer>
</body>
</html>