{% extends "base.html" %}

{% block content %}
    <div class="matches-grid">
    {% for match in matches %}
    <a href="/match/{{ match.match_id }}" style="text-decoration: none; color: inherit;">
        <div class="match-card">
            <span class="league">{{match.league}}</span>
            <p class="teams">{{match.home_team}} vs {{match.away_team}}</p>
            
            {% if match.winner == 'HOME_TEAM' %}
                Winner: {{ match.home_team }}
            {% elif match.winner == 'AWAY_TEAM' %}
                Winner: {{ match.away_team }}
            {% elif match.winner == 'DRAW' %}
                Draw
            {% endif %}

            <p class="score">{{match.score}}</p>
            <span class="date">{{ match.utc_date.split('T')[0] }}</span>
            <span class="time">{{ match.utc_date.split('T')[1][:5] }}</span>
        </div>
    </a>
    {% endfor %}
    </div>
{% endblock %}